.todoitems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Optional: add some padding */
}

.todoitems-container {
    display: flex;
    align-items: center;
}

.todoitems-text {
    padding-left: 16px;
    color: #404040;
    font-size: 22px;
}

.cross-icon {
    cursor: pointer;
    padding-right: 25px;
}

.line-through{
    text-decoration: line-through solid #ADADAD 3px;
}